<div id="<%= dom_id profile %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= profile.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Birth:</strong>
    <%= profile.birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= profile.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= link_to profile.icon.filename, profile.icon, class: "text-gray-700 underline hover:no-underline" if profile.icon.attached? %>
    <% if profile.icon.attached? %>
      <%# image_tag profile.icon %>
      <%= image_tag profile.icon.representation(resize_to_limit: [200, 200]) %>
    <% end %>
  </div>
</div>
